127.0.0.1   localhost
::1         localhost ip6-localhost ip6-loopback
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

10.10.10.11  admin.beamline admin
10.10.10.12  gitlab.beamline gitlab
10.10.10.13  pkg.beamline pkg
10.10.10.14  puppet.beamline puppet
10.10.10.21  k8cp.beamline k8cp
10.10.10.22  k8w1.beamline k8w1
10.10.10.23  k8w2.beamline k8w2
10.10.10.31  tango-db.beamline tango-db
10.10.10.32  tango-ds.beamline tango-ds
10.10.10.41  obs.beamline obs
10.10.10.51  hpc-ctl.beamline hpc-ctl
10.10.10.52  hpc-c1.beamline hpc-c1
10.10.10.53  hpc-gpu.beamline hpc-gpu
